.wrapper {
    width: 100%;
    min-height: 100dvh;
    height: auto;
    /* position: absolute; */
    /* background: linear-gradient(45deg,#58f1dd, #62f6bb, #7324db , #277bdb,#24f6bbe4, #9b06ff); */

    /* background: linear-gradient(180deg, #8c8fc5 0, #000 100%); */
    background: linear-gradient(110.54deg, #a3a8ff 6.4%, #333558 106.46%);

    /* background-size: 600% 100%; */
    background-size: cover;

    animation: gradient 16s linear infinite;
    animation-direction: alternate;
    padding-bottom: 150px;
}
@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}