.wrapper {
  background: linear-gradient(135deg, #00bcd4, #3f51b5);
  /* Переливающийся градиент */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 70px;
  /* Чтобы кнопка внизу не перекрывала контент */
}

button {
  font-weight: bold;
}